header {
    background-color: #23408e;
    color: white;
    padding: 25px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .h1 {
    float: left;
  }

  .span, a {
    padding: 0px 10px;
    color: #fff;
    text-decoration: none;
  }

  .span, a:hover{
    color: #cccccc;
  }