nav {
    background-color: #385399;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
  }
  nav ul li {
    margin: 5px 20px;
  }

  nav ul li a {
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
  nav ul a:hover {
    text-decoration: none;
    color: #cccccc;
  }