main {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }



.content {
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 500px;
    padding: 10px;
}

.menu li a {
  color: #000;
  list-style-type: none;
}