main {
    margin: 0 auto;
    flex: 1;
  }

.content {
    margin: 0 auto;
    border: 1px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}