body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
}

.content {
  flex: 1;
  padding: 15px;
}